# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [11]:
import pandas as pd
import numpy as np

# Seu código aqui

ano=[1900,1920,1940,1960,1980,2000,2020]
a_termica = [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]

serie1 =pd.Series(data = a_termica, index= ano)
print(serie1)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [12]:

# seu código aqui
import pandas as pd
import numpy as np

# Seu código aqui

ano=[1900,1920,1940,1960,1980,2000,2020]
a_termica = [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]

serie1 =pd.Series(data = a_termica, index= ano)
print(serie1)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [19]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
Serie2 = pd.Series(dic_temperaturas)
print(Serie2)
print(type(Serie2))

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64
<class 'pandas.core.series.Series'>

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [31]:

# seu código aqui

arr = np.random.normal(100, 10, (20,3))
df1 = pd.DataFrame(arr, columns=['a','b','c'])
print(df1)

             a           b           c
0    88.642166  113.237972   97.217283
1    97.582479   86.885428   89.153783
2   101.301947  106.379888   91.803687
3   102.310980  107.254543  110.933878
4    77.555912   89.015310  123.106795
5    84.393575  111.198212   83.185770
6   100.293865  101.212752   92.202496
7    88.998783  100.225574  108.307769
8   106.867413  110.920442   99.480988
9   107.032130  106.289236  124.202113
10   96.625506  103.511252   84.412037
11  100.894612  105.777338   88.888128
12   88.415229   86.000256  104.837549
13   86.224395  112.573929   81.990123
14  103.216513   96.667714   89.032294
15  102.349243  116.226954  101.303878
16  106.248101   97.399136   86.220594
17  107.144017  112.071869  102.512858
18  102.379527   99.819033  105.421512
19   92.133932   82.161705  118.733651

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [42]:
#seu código aqui
#df2 = pd.DataFrame(data = arr,index=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20], columns =['x1','x2','x3'])
df2 = pd.DataFrame(data = arr,index=np.arange(1,21), columns =['x1','x2','x3'])
print(df2)

            x1          x2          x3
1    88.642166  113.237972   97.217283
2    97.582479   86.885428   89.153783
3   101.301947  106.379888   91.803687
4   102.310980  107.254543  110.933878
5    77.555912   89.015310  123.106795
6    84.393575  111.198212   83.185770
7   100.293865  101.212752   92.202496
8    88.998783  100.225574  108.307769
9   106.867413  110.920442   99.480988
10  107.032130  106.289236  124.202113
11   96.625506  103.511252   84.412037
12  100.894612  105.777338   88.888128
13   88.415229   86.000256  104.837549
14   86.224395  112.573929   81.990123
15  103.216513   96.667714   89.032294
16  102.349243  116.226954  101.303878
17  106.248101   97.399136   86.220594
18  107.144017  112.071869  102.512858
19  102.379527   99.819033  105.421512
20   92.133932   82.161705  118.733651

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [43]:
# seu código aqui
df2['x4'] = (df2['x1']+df2['x2']+df2['x3'])/3
print(df2)

            x1          x2          x3          x4
1    88.642166  113.237972   97.217283   99.699140
2    97.582479   86.885428   89.153783   91.207230
3   101.301947  106.379888   91.803687   99.828507
4   102.310980  107.254543  110.933878  106.833134
5    77.555912   89.015310  123.106795   96.559339
6    84.393575  111.198212   83.185770   92.925852
7   100.293865  101.212752   92.202496   97.903038
8    88.998783  100.225574  108.307769   99.177375
9   106.867413  110.920442   99.480988  105.756281
10  107.032130  106.289236  124.202113  112.507826
11   96.625506  103.511252   84.412037   94.849598
12  100.894612  105.777338   88.888128   98.520026
13   88.415229   86.000256  104.837549   93.084345
14   86.224395  112.573929   81.990123   93.596149
15  103.216513   96.667714   89.032294   96.305507
16  102.349243  116.226954  101.303878  106.626692
17  106.248101   97.399136   86.220594   96.622610
18  107.144017  112.071869  102.512858  107.242914
19  102.379527   99.819033  105.421512  102.540024
20   92.133932   82.161705  118.733651   97.676429

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [45]:
# seu código aqui
df2['log_med']= np.log(df2['x4'])
print(df2)

            x1          x2          x3          x4   log_med
1    88.642166  113.237972   97.217283   99.699140  4.602157
2    97.582479   86.885428   89.153783   91.207230  4.513134
3   101.301947  106.379888   91.803687   99.828507  4.603454
4   102.310980  107.254543  110.933878  106.833134  4.671268
5    77.555912   89.015310  123.106795   96.559339  4.570158
6    84.393575  111.198212   83.185770   92.925852  4.531802
7   100.293865  101.212752   92.202496   97.903038  4.583978
8    88.998783  100.225574  108.307769   99.177375  4.596910
9   106.867413  110.920442   99.480988  105.756281  4.661137
10  107.032130  106.289236  124.202113  112.507826  4.723023
11   96.625506  103.511252   84.412037   94.849598  4.552292
12  100.894612  105.777338   88.888128   98.520026  4.590260
13   88.415229   86.000256  104.837549   93.084345  4.533506
14   86.224395  112.573929   81.990123   93.596149  4.538989
15  103.216513   96.667714   89.032294   96.305507  4.567526
16  102.349243  116.226954  101.303878  106.626692  4.669334
17  106.248101   97.399136   86.220594   96.622610  4.570813
18  107.144017  112.071869  102.512858  107.242914  4.675096
19  102.379527   99.819033  105.421512  102.540024  4.630253
20   92.133932   82.161705  118.733651   97.676429  4.581660